@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');

body {
    background-color: rgb(52, 52, 52);
    text-align: center;
    font-family: 'Fira Code', sans-serif;
    
}

.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: rgb(52, 52, 52);
 color: orgb(52, 52, 52);
 border: 1px solid rgb(52, 52, 52);
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 font-size: 30px;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 10s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}

#secret {
    opacity: 0%;
    cursor: auto;
}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
  
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}



h1 {
    font-size: 50px;
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}
